@media only screen and (max-width: 1127px) {
	body{
        grid-template-rows: 4rem auto;
        grid-template-columns: 4rem auto;
        display: grid;
        grid-template-areas: 
      " nav     nav      nav     nav"
      " section section  section section"
      " section section  section section";
       
    }
    
    .aside{
        display: none;
    }
    
}