@media only screen and (max-width: 1127px) {
	body{
        grid-template-rows: 9vh auto;
        /* 33.2409972299169vh */
        grid-template-columns: 33.24vh auto;
        display: grid;
        grid-template-areas: 
      " nav     nav      nav     nav"
      " section section  section section"
      " section section  section section";
       
    }

    .aside{
        display: none;
    }
    
}