@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root{
    --font: 'Roboto', sans-serif;
    --primary-color:#153a5b;
    --secondary-color:#f3756d;
    --hover-color: #0b2944;
    --background-color: #f5f9fc;
}

html{
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
}

.blue-text{
    color: var(--primary-color);
    text-decoration: underline;
    text-decoration-color:var(--secondary-color) ;

}

body{
    font-family: "Roboto", sans-serif;
    grid-template-rows: 4rem auto;
    grid-template-columns: 15rem auto;
    display: grid;
    grid-template-areas: 
  "nav   nav     nav     nav nav"
  "aside section section  section section"
  "aside section section  section section";
   
}



.nav{
    grid-area: nav;
    background-color:white;
    width: 100%;
    height: 4rem;
    position: fixed;
    z-index: 19;
}



.aside{
  
    grid-area: aside;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 15rem;
    top: 4rem;
    height: 100vh;
    overflow-y: scroll;

}

.a-btn{
    color: white;
    background-color: transparent;
    padding: .61rem;
    margin-bottom: .2rem;
    font-size: large;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.a-btn:hover{
    background-color:var(--hover-color);
}

.section{
    grid-area: section;
    background-color: var(--background-color);
    padding: 2rem 6rem 4rem 4rem;
    display: flex;
    flex-direction: column;
   
}


.center-carbon{
    display: block;
    margin: auto;
}

.container{
    border: 2px solid #c1c7cc;
    border-width: thin;
    border-radius: 1rem;
    padding: 2rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.box-container{
    border: 2px solid #c1c7cc;
    border-width: thin;
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
}

.card-container {
    display: flex;
    justify-content: space-around;
}

.input-container{
    display: flex;
    justify-content: center;
}


